<section class="container">
    <!--QUIENES SOMOS-->
    <div id="anchoring-about-us"></div>

    <h2 class="section__primary-title"> about us</h2>

    <div class="card card--odd">
        <div class="card__profile-photo">
            <img src="./assets/images/img-annia.gif" alt="Annia da Costa">
        </div>

        <h3 class="card__title">Annia da Costa</h3>

        <p class="card__description">
            I believe in enjoying the road because the goal can change constantly and it challenges you every day; my
            college had a lema: “Aim to the stars so you get to the moon”. I really love to travel, to read and I'm
            always searching to learn something new every day.
        </p>

        <ul class="card__social-media">
            <li class="social-media__item twitter">
                <a class="social-media__link" href="https://twitter.com/search?q=%40anva1011&src=typd" title="@anva1011"
                    target="_blank"><i class="fab fa-twitter"></i></li>

            <li class="social-media__item linkedin">
                <a class="social-media__link" href="https://www.linkedin.com/in/annia-da-costa-a9019b66/"
                    title="Annia da Costa" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>


            <li class="social-media__item github">
                <a class="social-media__link" href="https://github.com/anniavdc" title="anniavdc" target="_blank"><i
                        class="fab fa-github-alt"></i></a></li>

            <li class="social-media__item mail">
                <a class="social-media__link" href="mailto:anva1189@gmail.com" title="Send an e-mail"><i class=" fas fa-envelope"></i></a></li>
        </ul>

    </div>

    <div class="card card--even">
        <div class="card__profile-photo">
            <img src="./assets/images/img-saray.gif" alt="Saray Fernández">
        </div>

        <h3 class="card__title">Saray Fernández</h3>

        <p class="card__description">
            Criminologist. I am good at finding the cause-effect relationship of stuff. Tireless learner. Currently
            exploring new ways to reinvent myself. Somebody once said, “If a door doesn’t knock, build a door”. Let’s
            code doors.
        </p>

        <ul class="card__social-media">
            <li class="social-media__item twitter">
                <a class="social-media__link" href="https://twitter.com/FdzSaray" title="@SarayFdz" target="_blank"><i
                        class="fab fa-twitter"></i></a></li>

            <li class="social-media__item linkedin">
                <a class="social-media__link" href="https://www.linkedin.com/in/sarayfdz-garcia/"
                    title="Saray Fernández García" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

            <li class="social-media__item github">
                <a class="social-media__link" href="https://github.com/sarayfg" title="sarayfg" target="_blank"><i
                        class="fab fa-github-alt"></i></a></li>

            <li class="social-media__item mail">
                <a class="social-media__link" href="mailto:sarayfernandezgarcia@gmail.com" title="Send an e-mail"
                    target="_blank">
                    <i class="fas fa-envelope"></i></a></li>
        </ul>
    </div>

    <div class="card card--odd">
        <div class="card__profile-photo">
            <img src="./assets/images/img-elvira.gif" alt="Elvira Fuente">
        </div>

        <h3 class="card__title">Elvira Fuente</h3>

        <p class="card__description">
            I love cardboard, glitch effects and typography. I am a little geek on vegan cuisine as well.
        </p>
        <p class="card__description">
            My two main goals are: first, being a kind and compassionate person. Second, use creative thinking on my
            personal and professional path.
        </p>

        <ul class="card__social-media">
            <li class="social-media__item twitter">
                <a class="social-media__link" href="https://twitter.com/ElviraFuente" title="@ElviraFuente"
                    target="_blank"><i class="fab fa-twitter"></i></a></li>

            <li class="social-media__item linkedin">
                <a class="social-media__link" href="https://www.linkedin.com/in/elvira-fuente-romero-414b07181/"
                    title="Elvira Fuente Romero" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            
            <li class="social-media__item github">
                <a class="social-media__link" href="https://github.com/hebebicho" title="hebebicho" target="_blank"><i
                        class="fab fa-github-alt"></i></a></li>

            <li class="social-media__item mail">
                <a class="social-media__link" href="mailto:elvirafuente@gmail.com" title="Send an e-mail"
                    target="_blank">
                    <i class="fas fa-envelope"></i></a></li>
        </ul>
    </div>

    <div class="card card--even">
        <div class="card__profile-photo">
            <img src="./assets/images/img-irene.gif" alt="Irene Fuente">
        </div>

        <h5 class="card__title">Irene Fuente</h5>

        <p class="card__description">
            I love maths, music and “roscón de Reyes”. I hate rushing, Disney's happy ends and the concept of normality.
            I believe in karma but my true god is Google. I want to use technology to create projects which help people
            to learn things.
        </p>

        <ul class="card__social-media">
            <li class="social-media__item twitter">
                <a class="social-media__link" href="https://twitter.com/ifuenteromero" title="@ifuenteromero"
                    target="_blank"><i class="fab fa-twitter"></i></a></li>
          
            <li class="social-media__item linkedin"><i class="fab fa-linkedin-in"></i></li>
           
            <li class="social-media__item github"><i class="fab fa-github-alt"></i></li>
           
            <li class="social-media__item mail">
                <a class="social-media__link" href="mailto:ifuenteromero@gmail.com" title="Send an e-mail"><i
                        class="fas fa-envelope"></i></a></li>
        </ul>
    </div>

    <div class="card card--odd" id="last-member">

        <div class="card__profile-photo">
            <img src="./assets/images/img-carmen.gif" alt="Carmen Torrecillas">
        </div>

        <h3 class="card__title">Carmen Torrecillas</h3>

        <p class="card__description">
            Wine-lover trained as an architect. Always find myself between the boundaries (creatively, physically). Sort
            of freak, I’m passionate about #dataviz, #maps and #parametric design.
        </p>

        <p class="card__description">
            I love challenges... that’s why I’m here learning to code!
        </p>


        <ul class="card__social-media">
            <li class="social-media__item twitter">
                <a class="social-media__link" href="https://twitter.com/carmen_TM_" title="@carmen_TM_"
                    target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            
            <li class="social-media__item linkedin">
                <a class="social-media__link" href="https://www.linkedin.com/in/carmen-torrecillas-molina-17987471/"
                    title="Carmen Torrecillas Molina" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
         
            <li class="social-media__item github">
                <a class="social-media__link" href="https://github.com/carmen-tm" title="carmentm" target="_blank"><i
                        class="fab fa-github-alt"></i></a></li>
        
            <li class="social-media__item mail">
                <a class="social-media__link" href="mailto:carmentorremolina@gmail.com" title="Send an e-mail"><i
                        class="fas fa-envelope"></i></a></li>
        </ul>
    </div>
</section>