<section>
    <!--EQUIPO-->
    <div class="padding-section">
        <h2 class="title-type title-section" id="team">team</h2>

        <p class="description desktop-width">Once upon a time, there were five crazy women who decided to learn how to code in just three months. Becoming an “adalaber” was the mutual goal and they were very determined to accomplish it… but after the first few days, they realized that craziness is better when you share it, especially with a group filled with humour and willingness… And that's how the “ada: inherit;” team was born. 
        </p>

        <p class="description desktop-width">If you want to know how the story ends, you'll have to wait until the next edition!
        </p>

    </div>

    <div class="triangle">
    </div>

    <div class="padding-section bgcolor">
        <ul class="description-team">
            <li>
                <h3 class="title-type title-list-description">Strengths</h3>
                <div class="about-us-paragraph">
                    <p>We laugh a lot, so it's great to work with us (if you want to become part of our crazy team there's a form coming soon).</p>

                    <p>We work hard, after the mandatory panic stop of course.</p>

                    <p>We learn fast (or at least we think so, you'll have to confirm with Nasiba about this statement).</p>

                    <p>We are very optimistic, especially about due dates.</p>
                </div>
            </li>

            <li>
                <h3 class="title-type title-list-description" id="weakness">Weaknesses</h3>
                <div class="about-us-paragraph">
                    <p>We panic a lot.</p>

                    <p>Apparently, we don't listen well enough (ups, we found out two labour days before the due date of the project that we also had to do the tablet and the desktop versions, not only the mobile one).
                    </p>

                    <p>It's very hard to take a serious picture of us because we really don't like pictures (that's a general feeling).
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>