<!-- FOOTER -->
 <footer class="main-footer">

    <div class="grid-container">
        <div class="grid-item1">
            <small class="main-footer__copyright"> ada: inherit; ©2019</small>
        </div>
        <div class="grid-item2">
            <nav class="main-footer__menu">
                <ul class="main-footer__menu-list">
                    
                    <li class="item-footer"><a class="link-footer" href="index.html#anchoring-team">Equipo</a></li>
                    
                    <li class="item-footer"><a class="link-footer" href="index.html#anchoring-about-us">Quiénes somos</a></li>
                    
                    <li class="item-footer"><a class="link-footer" href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="grid-item3">
            <div class="main-footer__logo-container">
                <a class="link-logo" href="https://adalab.es/" target="_blank"> <img id="main-footer-logo" src="./assets/images/adalab.png" alt="Logo de Adalab"> </a>
            </div>
        </div>
    </div>

    </footer>