   <!-- FOOTER -->
   <footer class="main-footer">

    <small class="main-footer__copyright"> ada: inherit; ©2019</small>

    <nav class="main-footer__menu">
        <ul class="main-footer__menu-list">
            
            <li><a class="link-footer" href="index.html##team">Equipo</a></li>
            
            <li><a class="link-footer" href="index.html#title-us">Quiénes somos</a></li>
            
            <li><a class="link-footer" href="contact.html">Contacto</a></li>
        </ul>
    </nav>

    <div class="main-footer__logo-container">
        <a href="https://adalab.es/" target="_blank"> <img id="main-footer-logo" src="./assets/images/adalab.png" alt="Logo de Adalab"> </a>
    </div>
</footer>