<form class ="data__container" action="https://formspree.io/ada.inherit@gmail.com" method="POST">

  <div class="data__item1">
    <label class="information" for="fullName">Name<span class="marker">*</span></label>
    <input class="information__container" id="fullName" type="text" placeholder="Full name..." name="fullName" required />
  </div>

  <div class="data__item2"> 
    <label class="information" for="email">Email <span class="marker">*</span ></label>
    <input class="information__container" type="email" name="email" placeholder="write.yourmail@mail.com" required/>
  </div>

  <div class="data__item3">
    <label class="information" for="phone">Phone number <span class="marker">*</span></label>
    <input class="information__container" id="phone" type="tel" name="phone_number"placeholder="Ej: 123456789" required/>
  </div>

  <div class="data__item4">
    <label class="information" for="message">Message<span class="marker">*</span></label>
    <textarea class="message__information" placeholder="Message" name="message" id="message" cols="30" rows="10" required></textarea>
  </div>

    <button class="submit__button" type="submit">Submit</button>
  
</form>