<section class="contact__description">
    <h2 class="contact__title">contact</h2>
<div class="contact-text__container">
    <p class="contact__text">So, now that you've read a little bit about us, surely you have a lot of questions… Like how do we manage to work hard, learn fast and have fun (or at least try to) in spite of the craziness and the panic general feeling?. Well, if you want to find out, here's a form to contact us, we will reply as soon as possible (that is if we code it well)
    </p>

    <small class="contact__mandatory">
        All fields marked with <span class="marker">*</span> are required. </small>
    </div>



</section>