<form action="/signup" method="post">
  <div>
    <label for="fullName">Name<span class="mandatory">*</span></label>
    <input id="fullName" type="text" placeholder="Full name..." name="fullName">
  </div>

  <div>
    <label for="email">Email <span class="mandatory">*</span ></label>
    <input id="email" type="email" name="email">
  </div>

  <div><label for="phone">Phone number <span class="mandatory">*</span></label>
    <input id="phone" type="tel" name="phone_number">
  </div>
  <div>
    <label for="message">Message <span class="mandatory">*</span></label>
    <textarea name="message" id="message" cols="30" rows="10">Message</textarea>
  </div>
    <button type="submit">Submit</button>
  
</form>