<form action="/signup" method="post">
    <label for="fullName">Name<span>*</span></label>
    <input id="fullName" type="text" placeholder="Full name..." name="fullName">
    <label for="email">Email <span>*</span></label>
    <input id="email" type="email" name="email">
    <label for="phone">Phone number <span>*</span></label>
    <input id="phone" type="tel" name="phone_number">
    <textarea name="message" id="" cols="30" rows="10">Message</textarea>
    <input type="submit" value="Enviar info">
  </form>