

 <!-- HEADER -->
 <header class="main-header">

    <div class ="main-title-menu-container" >
            <div class="main-title-container">
                <h1 class="main-title">ada: inherit;</h1>
                </div>

                <nav class="main-menu">
                <ul class="main-menu-list">
                        <a href="#team">
                        <li class="main-menu-item">TEAM</li>
                        </a>
                    <a href="#title-us">
                        <li class="main-menu-item">ABOUT US</li>
                        </a>
                            <li class="main-menu-item"> 
                                <a href="contact.html">CONTACT </a></li>
                </ul>
                </nav>
            </div>

        <div class="main-claim-big-container">
            <div class="main-claim-container">
                <h2 class="main-claim">Don't panic. Try hard to have fun</h2>
            </div>
        </div>
    </header>
