 <!-- HEADER -->
 <header class="main-header">
    <div class ="main-title-menu-container" >
        <div class="main-title-container">
            <h1 class="main-title">
                <a class ="main-menu-item-link" href="index.html">ada: inherit;</a>
            </h1>
        </div>
        <nav class="main-menu">
            <ul class="main-menu-list">
                <li class="main-menu-item">
                    <a class ="main-menu-item-link" href="index.html#anchoring-team">TEAM</a>
                </li>
                <li class="main-menu-item">
                    <a class ="main-menu-item-link"href="index.html#anchoring-about-us">ABOUT US</a>
                </li>
                <li class="main-menu-item">
                    <a class ="main-menu-item-link" href="contact.html">CONTACT</a>
                </li>
            </ul>
        </nav>  
    </div>
    <div class=@@label>
        <div class="main-claim-container">
            <h2 class="main-claim">Don't panic. Try hard to have fun. <span>&#160;</span></h2>
        </div>
    </div>
</header>