 .data__container {
    padding-left: 15px;
    padding-right: 15px;

    @media all and (min-width:768px) {
        width: 442px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }

    @media all and (min-width:1200px) {
        width: 620px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end; 
    }
}
 .data__item1 {
     @include dataItem;
     @media all and (min-width:1200px) {
        width: 601px;
        padding-left: 0;  
    }       
 }

.data__item2 {
    @include dataItem;
    @media all and (min-width:1200px) {
        flex-grow: 2;
        margin-right: 44px;
        padding-left: 0;  
    }   
}

.data__item3 {
    @include dataItem;
    @media all and (min-width:1200px) {
        width: 162px;   
    }  
}

.data__item4 {
    @include dataItem;
    @media all and (min-width:1200px) {
        width: 601px;  
    }
}

.information {
    @include dataBox;     
}

.information__container {
    @include FormularyBox;
}

.message__information {
    height: 105px;
    padding-left: 15px;
    padding-top: 11px;
    border: 1px solid #b8b8b9;
}

.submit__button {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    background-color:$colorPrimary-700;
    color: $colorSecundary-0;
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 60px;

    @media all and (min-width:768px) {
        width: 206px;
        align-self: flex-end;
    }
    @media all and (min-width:1200) {
        width: 278px;
        align-self: flex-end;
    }
}