.contact__description {
    text-align: center;
    margin-bottom: 58px;
} 
.contact__title {
    color: $colorPrimary-700;
    font-weight: 500;
    font-family: $fontSecundary;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
    @media all and (min-width:768px) {
        margin-top: 45px;
    }
    
}
.contact__text {
    text-align: center;
    margin-top: 0px;
    line-height: 1.5;
}
 .contact-text__container  {
    width: 290px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @media all and (min-width:768px) {
        width: 442px;
        height: 170px;
    }
    @media all and (min-width:1200px) {
        width: 601px;
        height: 130px;
        line-height: 1.5;
    }
 }

.marker {
    color: $colorPrimary-400;
}
