/* FOOTER */

.main-footer {
    text-align: center;
    padding: 30px;
    padding-bottom: 100px;
    /* Top grey line separating the footer from the rest of the website */  
    border-top: 1px solid #b8b8b9;

    @media all and (min-width:768px) {
        padding: 30px 45px 56px 45px;
        height: 170px;
    }

    @media all and (min-width:1200px) {
        padding: 30px 138px 47px 138px;
        height: 161px;
    }
}

.grid-container{
    @media all and (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20px 70px;
    }
}

.main-footer__copyright {
    margin-top: 100px;
    color: #b8b8b9;
    font-family: $fontPrimary;
    font-size: rem(14); 
    // font-size: 1rem; 
    // font-size: 14px; 


    @media all and (min-width:768px) {
        width: 172px;
        height: 20px; 
        margin: 0;
        display: flex;
        justify-content: left;
    }


}

.grid-item2{
    @media all and (min-width:768px){
    grid-row: span 2;
   /* background-color: rgb(167, 161, 161);*/
    }
}

.main-footer__menu {
    padding-top: 20px;
    padding-bottom: 30px;
    color: $colorSecundary-700;
    font-family: $fontPrimary;
    font-weight: 600;
    font-size: rem(14); 
    // font-size: 1rem; 
    // font-size: 14px; 
    
    opacity: 0.75;
    text-transform: uppercase;


    .main-footer__menu-list {
        list-style: none;
    }


    @media all and (min-width:768px) {
        padding: 0;
        width: 100%;
        line-height: 30px;
        font-size: rem(14);
        
      
    
        // font-size: 1rem; 
        // font-size: 14px; 

    }

    @media all and (min-width:1200px) {
        width: 100%;
        margin-right: 0;
      
    }
}

.main-footer__logo-container {
    width: 115.9px;
    /* Centering the div conteining the image */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    #main-footer-logo {
        width: 100%;
    }

    @media all and (min-width:768px) {
        height: 45px;
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        
    }
}

.grid-item3{
    @media all and (min-width:768px) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
}

.link-footer{
    text-decoration: none;
    color: inherit;

    @media all and (min-width:768px) {
        display: flex;
        justify-content: flex-end;
    }
}


.link-logo{
    @media all and (min-width:768px) {
        height: 100%;

    }
}



