/* HEADER */
.main-header{  
    height: 421px;
    
    /* hero01 */
    background: url("../images/hero-resizing-mobil-60-v2c.jpg") center center no-repeat;
    
    /* hero02*/
    /* background: url("../images/hero02-modif-60-v2c.jpg") center center no-repeat; */
    
    /* hero03 */
    /* background: url("../images/hero03-modif-60-v1c.jpg") center center no-repeat; */
    
    background-size: cover;
    position: relative;
    @media all and (min-width:1200px){
        height: 550px;
    }
}

.main-title-container{
    // background-color: rgba(9, 157, 141, 0.95);
    background-color:rgba($colorPrimary-700,0.95);
    height: 60px;
    @media all and (min-width:768px) {
        height:100%;
        background-color: transparent;

    }
}
.main-title-menu-container {
    position: fixed;
    width: 100%;
    z-index: 20;
    @media all and (min-width:768px) {
        height: 60px;
        display:flex;
        background-color:rgba($colorPrimary-700,0.95);
        justify-content: space-between;
        padding:0 45px;

    }
    @media all and (min-width:1200px){
        padding-left: 142px;
        padding-right: 142px;
    }
}

.main-title{
   
    @include flexCentered();
    height: 100%;
    text-align: center;
    margin: 0;
    font-size: rem(16);
    font-weight: 500;
    color: $colorSecundary-0;
    font-family: $fontSecundary;
    font-weight: 500;
}

.main-menu{
    height: 45px;
    background-color: rgba(19, 214, 195, 0.95);
    @media all and (min-width:768px) {
        background-color:transparent;
        height:100%;

    }
}

.main-menu-list{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    padding:0px 20px;
    @media all and (min-width:768px) {
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;

    }
   
}

.main-menu-item{
    font-size: rem(15);
 
    color: $colorSecundary-0;
    font-family: $fontSecundary;

    @media all and (min-width:768px) {
        margin-left: 20px;

    }
}
.main-menu-item-link{
    color:$colorSecundary-0;
    font-weight: 500;
    transition:font-weight ease 200ms;
    &:hover{
        font-weight: 700;
    }
    

}

.main-claim-big-container{
    width: 100%;
    background-color: transparent;
    padding: 0 15px;
    position: absolute;
    bottom:-40px;
    @media all and (min-width:768px) {
        width: auto;
        bottom:0px;
        height: 80px;

    }
}
.main-claim-big-container-hidden{
    visibility: hidden;
}

.main-claim-container{
    @include flexCentered();
    height:80px;
    background-color: $colorSecundary-0;
    @media all and (min-width:768px) {
        opacity: 0.8;
        padding:15px 30px;
    
        margin-left: 46px;

    }
    @media all and (min-width:1200px) {
        opacity: 0.8;
        padding: 15px 30px;
        margin-left: 138px;

    }
}

.main-claim{
    font-size: rem(18);
    line-height: 25px;
    font-weight: 600;
    color: $colorSecundary-1000;
    font-family: $fontPrimary;
    // font-family: monospace;
    position:relative;
    // border:1px solid red;
    @include flexCentered();
    height: 100%;
    text-align: center;
    @media all and (min-width:768px) {
        padding-top:0px;
        padding-bottom:0px;
        text-align: left;

    }
    @media all and (min-width:1200px) {
        font-size: rem(24);
    }
}

.main-claim span{
    // display:inline-block;
    position: absolute;
    right:0;
    width:0;
    border-left:2px solid black;
    background-color:$colorSecundary-0;
    animation:write 2550ms steps(34) infinite alternate,blink 150ms infinite;
}
@keyframes write{
    from {width:100%}
    to {width:0%}
}
@keyframes blink{
    from,to{border-color: transparent}
    50%{border-color:black}
}







