.container {
    padding: 50px 15px 30px 15px;
    
    @media all and (min-width:768px){
        padding: 45px 45px 60px 45px;
    }

    @media all and (min-width:1200px){
        margin: auto;
    }
}

// To visually "push down" the content of the sections I have created new anchoring elements (empty divs) that are positioned relative, so they can move up the amount of the header from their initial position and so avoid header  overlapping! 
#anchoring-team {
    position: relative;
    top: -130px;
}

.container--bgcolor {
    background-color: $colorSecundary-400;

    @media all and (min-width:768px){
        padding-top: 45px;
    }

    @media all and (min-width:1200px){
        max-width: none;
    }
}

.section__primary-title { 
    font-family: $fontSecundary;
    color: $colorPrimary-400;
    font-family: $fontSecundary;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;

    @media all and (min-width:768px){
        font-size: 1.714rem;
    }
}

.section__secundary-title {
    color: $colorPrimary-700;
    font-family: $fontSecundary;
    @include flexCentered();
    height: 45px;

    @media all and (min-width:768px){
        font-size: 1.571rem;
    }
}

.description-team {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 15px; 

    @media all and (min-width:768px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
        padding-bottom: 0px;
    } 
}

#weakness {
    margin-top: 30px;

    @media all and (min-width:768px){
        margin-top: 0px;
    }
}

.container__divider {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: $colorSecundary-0;
    @include positionDecorativeIcon();
}

.about-us-paragraph{
    @media all and (min-width:768px){
        font-size: 1.147rem;
        width: 324px;
    }

    @media all and (min-width:1200px){
        width: 439px;
    }
}

.section__description{
    @media all and (min-width:768px){
        font-size: 1.143rem;
        margin-top: 15px;
    }       
}
    
.desktop-width{
    @media all and (min-width:1200px){
        max-width: 601px;
        margin:0 auto;
    }
}