$colorPrimary-400: rgb(0, 255, 255);
$colorPrimary-700: rgb(9, 157, 141);
$colorSecundary-0: rgb(255, 255, 255);
$colorSecundary-400: rgba(184,184,185,0.2);
$colorSecundary-700: rgb(84, 88, 90);
$colorSecundary-1000: rgb(0, 0, 0);


$fontPrimary:'open sans', sans-serif;
$fontSecundary: 'Rubik', sans-serif;

$heightFormularyBox: 45px;

// This is a variable of the default size of our website, that is called in the function @function rem($pixels)
$defaultFontSize: 14;
